
/* --------------crtlist.jsp--------------- */
/* 검색 영역 */
.hero-form-padding {
	padding-bottom: 20px;
}

/* 자격증 영역 */
.content-wrap {
	margin-bottom: 0px;
}

.content-wrap:hover .likeBtn-wrap{
	background-color: #fff;
}

.content-wrap hr {
	margin-top: 0px;
}

.content {
	margin-top: 10px;
}

/* 좋아요 버튼 */
.likeBtn-wrap {
	background-color: #F1F3F7;
}
.likeBtn-wrap:hover {
	background-color: #fff;
}

.likeBtn-wrap:hover .likeBtn{
	color:red;
}

.likeBtn {
	/* 
	width: 50px;
	 */
	color: black;
	border: none;
	border-radius: 4px;
	font-size: 30px;
	cursor: pointer;
	text-align: right; 
}

.fa-solid {
	color: red;
}













/* --------------crtdetail.jsp--------------- */


