
/* --------------crtlist.jsp--------------- */
/* 검색 영역 */
.hero-form-padding {
	padding-bottom: 20px;
}

/* 자격증 영역 */
.content-wrap {
	margin-bottom: 0px;
}

.content-wrap:hover .likeBtn-wrap{
	background-color: #fff;
}

.content-wrap hr {
	margin-top: 0px;
}

.content {
	margin-top: 10px;
}

/* 좋아요 버튼 */
.likeBtn-wrap {
	background-color: #F1F3F7;
	border: 0px;
}
.likeBtn-wrap:hover {
	background-color: #fff;
}

.likeBtn-wrap:hover .likeBtn{
	color:red;
}

.likeBtn {
	/* 
	width: 50px;
	 */
	color: black;
	border: none;
	border-radius: 4px;
	font-size: 40px;
	cursor: pointer;
	text-align: right; 
	color: red;
}
/* 
.fa-solid {
	color: red;
}
 */












/* --------------crtdetail.jsp--------------- */

#kakao-link-btn img{
	margin: 10px;
	width: 45px;
}

/* 자격증 정보  */

.small-title-size {
	font-size: 18px;
}


.agency-wrap {
	white-space: nowrap;
}

.agency-wrap p{
	font-size: 22px;
}



/* 시험 정보  */

#exam-table {
	
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-collapse: collapse;
	margin: 10px;
}

#exam-table th, td {
	border: 1px solid;
	text-align: center;
	
}

#exam-table th {
    font-size: var(--p-font-size);
}

#exam-table td, pre {
	color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}

#exam-table td:nth-child(1) {
	width: 170px;
}

#exam-table td:nth-child(2) {
	width: auto;
}

#exam-table td:nth-child(3) {
	width: 370px;
}

#exam-table td:nth-child(4) {
	width: 170px;
}

#exam-table td:nth-child(5) {
	width: 170px;
}






