@charset "UTF-8";

.top_quick_list {
	position: relative;
	padding: 50px auto;
	margin: 50px;
}

.display-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.quick_menu {
	width: 300px;
    height: 150px;
    background-color: #F1F3F7;
    border-radius: 10px;
    color: #3F3F41;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
}