<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.jr.job.mapper.JobMapper">


	<select id="getJobGroup" resultType="com.project.jr.job.model.JobGroupDTO">
		select * from tblJobgroup
	</select>

 	<select id="getJobList" parameterType="java.util.HashMap" resultType="com.project.jr.job.model.JobDTO">
		select 
    		* 
		from(select 
				jobSeq, 
				jobgroupSeq, 
				jobName, 
				keyTask, 
				salary, 
				prospect, 
				dvlPossibility, 
				aptitude, 
				task, 
				rownum as rnum 
			from tblJob
			<if test="gSearch eq 'y'.toString() and jSearch eq 'y'.toString()">
				where regexp_like(jobName, #{jobSearch}, 'i') and jobgroupSeq = #{jobgroupSeq}
			</if>
			<if test="gSearch eq 'n'.toString() and jSearch eq 'y'.toString()">
				where regexp_like(jobName, #{jobSearch}, 'i')
			</if>
			<if test="gSearch eq 'y'.toString() and jSearch eq 'n'.toString()">
				where jobgroupSeq = #{jobgroupSeq}
			</if>
			
			)
    		where rnum between #{begin} and #{end}
			    		
    		
    		
    		
    		
	</select>
	
	<select id="getTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) as count from tblJob
			<if test="gSearch eq 'y'.toString() and jSearch eq 'y'.toString()">
				where regexp_like(jobName, #{jobSearch}, 'i') and jobgroupSeq = #{jobgroupSeq}
			</if>
			<if test="gSearch eq 'n'.toString() and jSearch eq 'y'.toString()">
				where regexp_like(jobName, #{jobSearch}, 'i')
			</if>
			<if test="gSearch eq 'y'.toString() and jSearch eq 'n'.toString()">
				where jobgroupSeq = #{jobgroupSeq}
			</if>
	</select>
 	
 	<select id="getJob" parameterType="Integer" resultType="com.project.jr.job.model.JobDTO">
		select 
		    *
		from tblJob j
		    inner join tblJobgroup jg
		        on j.jobgroupSeq = jg.jobgroupSeq
		            inner join tblDepartByJob dj
		                on dj.jobSeq = j.jobSeq
		                    inner join tblDepart d
		                        on d.departSeq = dj.departSeq
                                    where j.jobSeq = #{seq}
		
		<!-- select 
		    *
		from tblJob j
		    inner join tblJobgroup jg
		        on j.jobgroupSeq = jg.jobgroupSeq
		            inner join tblDepartByJob dj
		                on dj.jobSeq = j.jobSeq
		                    inner join tblDepart d
		                        on d.departSeq = dj.departSeq
		                            inner join tblCrtByJob cj
		                                on cj.jobSeq = j.jobSeq
		                                    inner join tblCrt c
		                                        on c.crtSeq = cj.crtSeq
		                                            where j.jobSeq = #{seq} -->
	</select>
	
	<select id="getJobNames" parameterType="java.util.HashMap" resultType="String">
		select jobName from tblJob where regexp_like(jobName, #{jobSearch}, 'i')
	</select>
 
 	<select id="getJobG" parameterType="Integer" resultType="com.project.jr.job.model.JobGroupDTO">
 		select 
		    * 
		from tblCrtByJob cb
		    inner join tblCrt c
		        on cb.crtSeq=c.crtSeq
		            where jobSeq=${seq}
 	</select>
 
</mapper>






