<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.jr.like.mapper.CrtBoardLikeMapper">

	<!-- 게시글 좋아요 여부 확인 -->
	<select id="isLiked" parameterType="com.project.jr.like.model.CrtBoardLikeDTO" resultType="Integer">
		SELECT count(*) FROM tblBoardLike WHERE boardSeq = #{crtBoardSeq} AND id = #{id}
	</select>








</mapper>
