<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.jr.admin.mapper.AdminMapper"> 
	
	<!-- 로그인 -->
	<select id="adminLogin" parameterType="com.project.jr.admin.model.AdminDTO" resultType="Integer">
		select count(*) from tblAdminInfo where adminInfoId = #{adminInfoId} and adminInfoPw = #{adminInfoPw}
	</select>
	
	<select id="get" parameterType="String" resultType="com.project.jr.admin.model.AdminDTO">
		select * from tblAdminInfo where adminInfoId = #{adminInfoId}
	</select>

</mapper> 